body {
  background-color: black;
  color: yellow;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: yellow;
  padding: 20px;
}

h1, h2 {
  color: black;
}

section {
  margin-bottom: 30px;
}

#spotify, #youtube, #facebook {
  background-color: black;
  padding: 20px;
}

#spotify h2, #youtube h2, #facebook h2 {
  color: yellow;
}

footer {
  text-align: center;
   color: black;
}

#about {
  background-color: black;
  color: yellow;
  padding: 20px;
}

#about h2 {
  color: yellow;
}

#about p {
  margin-bottom: 20px;
}

#file-upload {
  background-color: black;
  color: yellow;
  padding: 20px;
}

#file-upload h2 {
  color: yellow;
}

#file-upload form {
  margin-top: 10px;
}

#file-upload input[type="file"] {
  margin-bottom: 10px;
}

#file-upload button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
